.App {
  background: cadetblue;
  height: 100vh;
}

.Header {
  background: cadetblue;
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}
